/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(90deg, hsla(41, 57%, 5%, 1) 0%, hsla(213, 74%, 59%, 1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  width: 100%;
  display: flex;
  padding: 0 25px;

}
.header{
  position: relative;
  margin-top: 30px;
  text-align: center;
  font-family: inherit;


}
.portfolio{
position: fixed;
width: 100%;
top: 30px;
color: bisque;


}


.top_text{
  position: fixed;
  top: 50px;
  display: block;
  color: antiquewhite;
  font-family: inherit;
  font-size: 22px;
  

}


.slide{

  height: 75vh;
  border-radius: 20px;
  margin: 15px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size:  cover;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  position: relative;
}
  .slide h3{
    font-family: 'Lora', serif;
    position: absolute;
    font-size: 25px;
    bottom: 20px;
    left: 20px;
    margin: 0%;
    opacity: 0;
  }
.slide.active {
  
  flex:10 ;
}
.slide:hover{

  box-shadow: 2px  3px  10px black;

}
.slide.active h3{
opacity: 1;
transition: opacity 0.5s ease-in 0.4s ;

}
